<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<meta charset="ISO-8859-1">
<title>Book list</title>
</head>
<body>
	<table class="table table-striped">
		<tr>
			<th><h1>Books</h1></th>
			<th><h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3></th>
			<th><form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
				</form>
			</th>
		</tr>
	</table>
	<table class="table table-striped">
		<tr>
			<th style="text-align: left">Title</th>
			<th style="text-align: left">Author</th>
			<th style="text-align: left">Published</th>
			<th style="text-align: left">ISBN</th>
			<th style="text-align: left">Price (Euro)</th>
			<th style="text-align: left">Category</th>
			<th sec:authorize="hasRole('ADMIN')"> </th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.publishYear}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.price}"></td>
			<td th:text="${book.category.name}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
			<td><a th:href="@{/editbook/{id}(id=${book.id})}" class="btn btn-danger">Edit</a></td>
		</tr>
	</table>
	<a href="/addbook" class="btn btn-primary">Add Book</a>

</body>
</html>